.Message {
    display: block;
    background-color: white;
    margin: 10px auto;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 5px;
    clear: both;
    height: 100%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    direction: ltr;
  }

 .Message .me {
    color: white;
    float: right;
    background-color: #328ec4;
  }
